
<div id="x">
  {{#each posts as |post|}}
  {{> postItem post}}
  {{/each}}
</div>






    {{!-- <div  class="9amRow row">
      <div class="rowHour col-1">9<span>am</span></div>
      <textarea class="col-10" data-number="9">.</textarea>
      <button class="saveBtn col-1"><i class="far fa-save"></i></button>
    </div> --}}