<div class="row">
  <div class="col-auto">
    {{!-- this can not be displayed somehow --}}
  <h2>Hi {{user.username}}! </h2>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}
  {{> editItem post}}
  {{/each}}
</div>
{{/if}}